/* Feuille de style pour la page : balises de mise en page */
body
{
    background-image: url(../img/catjpg.jpg);
    background-attachment: fixed;
   
}
.navigation
{
    text-align: center;
    border: solid 2px #3c0753;
    padding: 20px;
    width: 100%;
    display:flexbox;
    justify-content: center;
    
}

h1{
    text-transform:uppercase;
    color: #3c0753;
    font-size: 50px;
}

.navigation a:hover
{
    background-color: #3c0753;
}
section.main {
    margin-top: 100px;
    border: 10px solid white;
    padding: 20px 50px;
}
section.section1, div.section2 {
    text-align: center;
}
section.section1 img {
    border-radius: 20px;
}
section.section2{
    background-image: url(/assets/img/maik.jpg);
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
  /* filter: blur(4px); */
}
section.section2 p {
    display: inline-block;
    border:solid 2px blue;
    width: 33%;
    padding: 20px;
    background-color: black;
    text-align: left;

}
footer.pledepage {
    border:solid 2px #3c0753;
    margin-top: 20px;
    /* text-align: center; */

}
footer.pledepage ul{
    display: inline-block;
    width: 30%;
    list-style:upper-roman;
}
footer.pledepage ul li{
    margin-bottom: 20px;
}

footer.pledepage ul li a {
    color: #3c0753;
    padding: 8px 11px;
    
    
}

footer.pledepage ul li a, .navigation a{
    background-color: #D9A9DB;
    text-decoration: none;
    font-weight:bold;
    border-radius: 10px;
}
.pledepage a:hover{
    background-color: yellow;

}
.navigation a
{
    color: white;
    display: inline-block;
    width: 33%;
    padding: 5px 0;
}

