*{
    box-sizing: border-box;
}

body{
    width: 50%;
    margin: 0 auto;
    background-color: #ffe7e7;
}

h1{
    text-align: center;


}
caption{
    color:#6e2142;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
table{
    border: 3px solid #6e2142;
    width: 90%;
    margin-top: 50px;
    background-color: #C7C8CC;
    padding: 30px;
    /* par défaut la border contient 2 traits,pour que le trait soit unique on utilimse la propriete border-collapse avec une valeur collapse */
    border-collapse: collapse;
    text-align: center;
}
th,td{
    padding: 10px;
    border: 3px solid #6e2142;
}

thead,tfoot {
    background-color: #be7575;
}