*{
    box-sizing: border-box;
}

body{
    width: 50%;
    margin: 0 auto;
    background-color: #ffe7e7;
}


tr{
    background-color: white;
}
td{ 
    width: 50px;
    padding: 40px;
    
}
.style
{
    background-color: black;
}
table #style2
{
    /* border: 10px solid blue; */
}
#style2 tr,td{
     /* border: 2px solid blue; */
}
.style1
{
    background-color: red;
}