*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4mm ridge #ff3366;
}
.logo img
{
    
    width: 150px;
    height: 150px;
}
nav
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px auto;
}
nav a
{
    font-weight: bolder;
    color: #ff3366;
}
body div {
    display: flex;
    width: 90%;
    margin: 50px auto;
    background-color:#FFE7E7 ;
    height: 700px;
}
h3{
   text-align: center;
   padding: 50px; 
}
.image
{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}
#first
{
    display: flex;
    flex-direction: column;
}
/* #first section p
{
    text-wrap: wrap;
} */
/* .image :first-child
{
    background-color: #FFE7E7;
    height: 500px;
    width: 500px;
} */

.main1 :last-child
{
    line-height: 150px;
    background-color: yellowgreen;
    width: 700px;
    height: 500px;
    border-radius: 30px;
}
#main1
    {
        display: flex;
        justify-content: space-around;
    }
    div div aside p
    {
        
        line-height: 0.9em;
        text-align: left;
        padding: 30px;
    }